* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// background-color: rgb(230, 220, 220);
	background-color: rgb(59, 104, 86);
	color:white
}
input{
	background-color: rgb(210, 223, 223);
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(145, 179, 173);
    border-radius: 2px;
}
